# IDE / System
.idea
.vs
.vscode
.DS_Store

# Output folders.
bin/
obj/
build/SourceGit/
build/SourceGit.app/

# Files
*.user
SourceGit.win-x64.zip
SourceGit.linux-x64.tar.gz
SourceGit.osx-x64.zip
SourceGit.osx-arm64.zip
