.vs/
.vscode/
.idea/
# DevExpress CodeRush related files
.cr/

*.sln.docstates
*.user
*.suo
*.code-workspace

.DS_Store
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

bin/
obj/
# ignore ci node files
node_modules/
package.json
package-lock.json

build/resources/
build/SourceGit/
build/SourceGit.app/
build/*.zip
build/*.tar.gz
build/*.deb
build/*.rpm
build/*.AppImage
SourceGit.app/
build.command
src/Properties/launchSettings.json
